.demo-container img {
    width: 100%;
}

.circle {
  border: solid 4px #d87070;
  cursor: pointer;
  position: absolute;
}

.demo-container {
	position: relative;
	overflow: hidden;
}

.circle-label {
	/* position relative to its ancestor (the circle) */
    position: absolute;

    /* provide some visual styling */
    text-align: center;
    font-weight: 600;
    background-color: #222;
    color: #fff;
    padding: 10px;
    width: 135px;
    border-radius: 5px;
}

.image-holder {
	position: relative;
}